<div *ngIf="product.name" class="card">
    <!-- <mat-icon [ngClass]="favoriteIcon" (click)="changeFav(favoriteIcon)">{{favoriteIcon}}</mat-icon> -->
  <a [routerLink]="['/details', product.id]"><img class="card-img-top" [src]="product.imageURL"
      alt="item"></a>
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.price | currency:'INR' }}</p>

  </div>
  <div class="card-footer" *ngIf="showActions">
    <product-quantity [product]="product" [showAdd]="true" [shopping-cart]="cart"></product-quantity>
  </div>
</div>