<div *ngIf="product.name" class="card">
  <a [routerLink]="['/details', product.id]"><img class="card-img-top" src="https://cdn12.picryl.com/photo/2016/12/31/bag-shopping-weave-0fa6ea-1024.png"
      alt="item"></a>
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.price | currency:'INR' }}</p>

  </div>
  <div class="card-footer" *ngIf="showActions">
    <product-quantity [product]="product" [showAdd]="true" [cart]="cart"></product-quantity>
  </div>
</div>