<h2>Orders</h2>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Customer Id</th>
      <th>Order Id</th>
      <th>Order Status</th>
      <th>Transaction Id</th>
      <th>Payment Date</th>
      <th>Payment Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let o of orders">
      <td><a [routerLink]="['/user', o.user.id]">{{o.user.id}}</a></td>
      <td>{{o.id}}</td>
      <td>{{o.status}}</td>
      <td>{{o.transactionId}}</td>
      <td>{{o.paymentDate | date: 'medium'}}</td>
      <td>{{o.paymentStatus}}</td>
      <td><a [routerLink]="['/vieworder', o.id]">View</a></td>
    </tr>
  </tbody>
</table>
<mat-progress-spinner *ngIf="loading" class="progress-spinner" color="warn" mode="indeterminate" diameter="60">
</mat-progress-spinner>