<h2>Payment Form</h2>
<div class="row">
  <div class="col-md-6">
    <form ngNoForm action="https://sandboxsecure.payu.in/_payment" name="payuform" method="POST">
      <div class="form-group">
        <label for="firstname">Name</label>
        <input type="text" ng-model="firstname" class="form-control" id="firstname" name="firstname" [(ngModel)]="payuform.firstname"
        disabled="true">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="payuform.email" disabled="true">
      </div>
      <div class="form-group">
        <label for="email">Phone</label>
        <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="payuform.phone" disabled="true">
      </div>
      <address (onAddressSelect)="onSelectAddress($event)"></address>
      <textarea name="phone" hidden [(ngModel)]="payuform.phone"></textarea>
      <textarea name="firstname" hidden [(ngModel)]="payuform.firstname"></textarea>
      <textarea name="email" hidden [(ngModel)]="payuform.email"></textarea>
      <textarea name="productinfo" hidden [(ngModel)]="payuform.productinfo"></textarea>
      <textarea name="surl" id="surl" ng-model="surl" hidden [(ngModel)]="payuform.surl"></textarea>
      <textarea name="amount" id="amount" ng-model="amount" hidden [(ngModel)]="payuform.amount"></textarea>
      <textarea name="furl" id="furl" ng-model="furl" hidden [(ngModel)]="payuform.furl"></textarea>
      <textarea name="key" id="key" ng-model="key" hidden [(ngModel)]="payuform.key"></textarea>
      <textarea name="hash" id="hash" ng-model="hash" hidden [(ngModel)]="payuform.hash"></textarea>
      <textarea name="txnid" id="txnid" ng-model="txnid" hidden [(ngModel)]="payuform.txnid"></textarea>
      <textarea name="service_provider" ng-model="service_provider" id="service_provider" hidden
        [(ngModel)]="payuform.sp"></textarea>
      <button *ngIf="disablePaymentButton" type="button" class="btn btn-default" (click)="confirmPayment($event)">Confirm</button>
      <button *ngIf="!disablePaymentButton" type="submit" class="btn btn-danger">Submit</button>
    </form>
  </div>
  <div class="col-md-6">
    <shopping-cart-summary [cartitems]="cartItems"></shopping-cart-summary>
  </div>
</div>