<!-- <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Our Dashboard"> <dashboard></dashboard> </mat-tab>
  <mat-tab label="Hear from our users"> <blog></blog> </mat-tab>
  <mat-tab label="The team"> <members></members> </mat-tab>
  
</mat-tab-group>
Watch what we do at WOW!
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
  </div> -->


<!-- About Us -->
<div class="row">
  <div class="col-sm-12">
    <h2>
      <b>About Us</b>
    </h2>
    <div class="row">
      <div class="col-sm-12">
        <div class="media">
          <div class="media-body">
            <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris
              magna metus nec. Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam
              luctus dui. Mauris magna metus nec. Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque
              tempor, varius quam luctus dui. Mauris magna metus nec.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Watch video -->

<div class="row">
  <div class="col-sm-12">
    <h2>Watch what we
      <b>at WOW!</b>
    </h2>
    <div class="row">
      <div class="col-sm-12">
        <div class="media">
          <div class="media-body">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Customer quotes  -->


<div class="row">
  <div class="col-sm-12">
    <h2>What
      <b>our customers</b> are saying</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="item carousel-item active">
          <div class="row">
            <div class="col-sm-6">
              <div class="media">
                <div class="media-left d-flex mr-3">
                  <img src="https://image.flaticon.com/icons/png/512/147/147140.png" alt="">
                </div>
                <div class="media-body">
                  <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus
                      dui. Mauris magna metus nec.</p>
                    <p class="overview">
                      <b>Paula Wilson</b>, Media Analyst</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="media">
                <div class="media-left d-flex mr-3">
                  <img src="/assets/userlogo.png" alt="">
                </div>
                <div class="media-body">
                  <div class="testimonial">
                    <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus
                      dictum. Pellentesque virra.</p>
                    <p class="overview">
                      <b>Antonio Moreno</b>, Web Developer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item carousel-item">
          <div class="row">
            <div class="col-sm-6">
              <div class="media">
                <div class="media-left d-flex mr-3">
                  <img src="/assets/userlogo.png" alt="">
                </div>
                <div class="media-body">
                  <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus
                      dui. Mauris magna metus nec.</p>
                    <p class="overview">
                      <b>Michael Holz</b>, Seo Analyst</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="media">
                <div class="media-left d-flex mr-3">
                  <img src="/assets/userlogo.png" alt="">
                </div>
                <div class="media-body">
                  <div class="testimonial">
                    <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus
                      dictum. Pellentesque virra.</p>
                    <p class="overview">
                      <b>Mary Saveley</b>, Web Designer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>