.dropdown-toggle{
    cursor: pointer;
}

.navbar {
    min-height: 100px;
    background-color: #28a745;
}

mat-icon.cart, mat-icon.search {
    padding-right: unset;
}

.logo {
    border-radius: 100px;
    background-color: #a04646;
    height: 40px;
    width: 40px;
}

#global-search {
    border-color: #6c757d;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}