<nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 sticky-top">
  <a class="navbar-brand" href="/">Women's Organization of Waze</a>
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/mycart"><mat-icon class="cart" [matBadge]="getCartCount()" matBadgeColor="warn">shopping_cart</mat-icon></a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign up</a>
        </li>
      <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngFor="let c of categories$ | async" class="dropdown-item" routerLink="/products" [queryParams]="{category: c.name, id:c.id}">{{c.name}}</a>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus">About Us</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{authService.currentUser.sub}}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngIf="authService.currentUser.scopes?.includes('ADMIN')" class="dropdown-item" routerLink="/admin/products"><mat-icon>settings</mat-icon>Manage Items</a>
          <a *ngIf="authService.currentUser.scopes?.includes('ADMIN')" class="dropdown-item" routerLink="/admin/orders"><mat-icon>view_module</mat-icon>Manage Orders</a>
          <a class="dropdown-item" routerLink="/myorders"><mat-icon>view_list</mat-icon>My Orders</a>
          <div class="dropdown-divider"></div>
          <a *ngIf="authService.isLoggedIn()" class="dropdown-item" (click)="authService.logout()" routerLink="/products"><mat-icon>power_settings_new</mat-icon>Log out</a>
        </div>
      </li>
    </ul>
    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>