mat-grid-list.mat-grid-list{
    background-color: white;
}
.side-block{
    background-color: #b5b4b4;
}
.mat-dialog-content{
    max-height: none;
}

.date-picker-icon button {padding: 0 10px;margin: 0;}

.date-picker-icon button .mat-icon {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}