<!-- <h1>Shopping Cart</h1>
<ng-container *ngIf="cartItems">
  <p>
    You have {{getCartCount()}} items in your cart!
    <button *ngIf="cartItems.length" (click)="clearCart()" class="btn btn-link">Clear Shopping Cart</button>
  </p>
  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let c of cartItems">
        <td class="align-middle"><div class="thumbnail" [style.backgroundImage]="'url(https://cdn12.picryl.com/photo/2016/12/31/bag-shopping-weave-0fa6ea-1024.png)'" ></div></td>
        <td class="align-middle">{{c.product.name}}</td>
        <td class="align-middle"><product-quantity (quantityChange)="onQuantityChange()"  [product]="c.product" [shopping-cart]="cartItems"></product-quantity></td>
        <td class="text-right align-middle">{{(c.product.price * c.count)|currency:'INR'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{totalPrice | currency:'INR'}}</th>
      </tr>
    </tfoot>
  </table>  
  <a *ngIf="cartItems.length" class="btn btn-primary btn-sm" routerLink="/checkout">Checkout</a>
  
</ng-container>
<mat-progress-spinner *ngIf="loading" class="progress-spinner" color="warn" mode="indeterminate" diameter="60">
</mat-progress-spinner> -->

<div class="card shopping-cart">
  <div class="card-header bg-dark text-light">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    Shipping cart
    <a href="" class="btn btn-outline-info btn-sm pull-right">Continue shopping</a>
    <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <div *ngFor="let c of cartItems">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-2 text-center">
          <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew" width="120" height="80">
        </div>
        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
          <h4 class="product-name">
            <strong>{{c.product.name}}</strong>
          </h4>
          <h4>
            <small>Product description</small>
          </h4>
        </div>
        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
          <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
            <h6>
              <strong>{{c.product.price}}
                <span class="text-muted">x</span>
              </strong>
            </h6>
          </div>
          <div class="col-6 col-sm-6 col-md-6">
            <div class="quantity">
              <!-- <input type="button" value="+" class="plus">
              <input type="number" [value]="ge" class="qty" size="4">
              <input type="button" value="-" class="minus"> -->
              <product-quantity (quantityChange)="onQuantityChange()" [product]="c.product" [shopping-cart]="cartItems"></product-quantity>
            </div>
            <!-- <product-quantity (quantityChange)="onQuantityChange()" [product]="c.product" [shopping-cart]="cartItems"></product-quantity> -->
          </div>
          <!-- <div class="col-2 col-sm-2 col-md-2 text-right">
            <button type="button" class="btn btn-outline-danger btn-xs">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div> -->
        </div>
      </div>
      <hr>
    </div>
    <div class="pull-right">
      <div class="pull-right" style="margin: 5px">
        Total price:
        <b>{{totalPrice | currency:'INR'}}</b>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="pull-right" style="margin: 10px">
      <a *ngIf="cartItems.length" class="btn btn-success pull-right" routerLink="/checkout">Checkout</a>
    </div>
  </div>
</div>