<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input #name="ngModel" [(ngModel)]="product.name" id="title" name="name" type="text" class="form-control"
          required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          <div *ngIf="name.errors.required">Title is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="code">Code</label>
        <input #code="ngModel" [(ngModel)]="product.code" id="code" name="code" type="text" class="form-control"
          required>
        <div class="alert alert-danger" *ngIf="code.touched && code.invalid">
          <div *ngIf="code.errors.required">Code is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="size">Size</label>
        <input #size="ngModel" [(ngModel)]="product.size" id="size" name="size" type="text" class="form-control"
          required>
        <div class="alert alert-danger" *ngIf="size.touched && size.invalid">
          <div *ngIf="size.errors.required">Size is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">INR</span>
          </div>
          <input #price="ngModel" [(ngModel)]="product.price" id="price" name="price" type="number" class="form-control"
            required [min]="1">
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors?.min">Price is invalid.</div>
          <div *ngIf="price.errors.required">Price is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control"
          required (change)="onChange($event.target.value)">
          <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
          <div *ngIf="category.errors.required">Category is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Type</label>
        <select #type="ngModel" [(ngModel)]="product.subType" name="subType" id="bagtype" class="form-control" required>
          <option *ngFor="let s of subtypes" [value]="s.id">{{s.subType}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="type.touched && type.invalid">
          <div *ngIf="type.errors.required">Sub-Category is required.</div>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="imgUrl">Image Url</label>
         <input #imgUrl="ngModel" ngModel id="imgUrl" name="imgUrl" type="file" class="form-control" required url>
        <div class="alert alert-danger" *ngIf="imgUrl.touched && imgUrl.invalid">
            <div *ngIf="imgUrl.errors.url">Not a valid Url.</div>
            <div *ngIf="imgUrl.errors.required">Image url is required.</div>
        </div> 
        
      </div> -->
      <div class="form-group">
        <label for="imgUrl">Image Url</label>
        <input type="file" id="imgUrl" name="imageURL" (change)="onFileChanged($event)" class="form-control-file">
        <button class="btn btn-primary" (click)="onUpload()" type="button">Upload!</button>
      </div>
      <button [disabled]="f.invalid" type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <product-card [product]="product" [show-actions]="false"></product-card>
  </div>
</div>
