<div class="row">
  <div class="col-3">
    <product-filter [categoryid]="categoryId" [type]="subType" [category]="category"></product-filter>
    <price-filter [minPrice]="minPrice" [maxPrice]="maxPrice"></price-filter>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col-md-4">
          <product-card [product]="p"></product-card>
          <div *ngIf="(i+1)%3===0" class="w-100"></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>