<form [formGroup]="form" (ngSubmit)="signin(form.value)">
  <div class="form-row justify-content-center">
    <div class="form-group col-md-6">
      <img src="https://picsum.photos/550/250" alt="">
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-md-3">
      <input formControlName="firstname" type="text" class="form-control" id="firstname" placeholder="first name">
      <div *ngIf="firstname.touched && firstname.invalid" class="alert alert-danger">
        <div *ngIf="firstname.errors.required">First name is required</div>
      </div>
    </div>
    <div class="form-group col-md-3">
      <input formControlName="lastname" type="text" class="form-control" id="lastname" placeholder="last name">
      <div *ngIf="lastname.touched && lastname.invalid" class="alert alert-danger">
        <div *ngIf="lastname.errors.required">Last name is required</div>
      </div>
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-md-2">
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="email address">
      <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email is invalid</div>
        <div *ngIf="email.errors.shouldBeUnique">Email is already registered</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="10-digit phone number">
      <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">
        <div *ngIf="phone.errors.required">Phone number is required</div>
        <div *ngIf="phone.errors.pattern">Phone number is invalid</div>
        <div *ngIf="phone.errors.shouldBeUnique">Phone number is already registered</div>
      </div>
    </div>
  </div>
  <div class="form-row  justify-content-center">
    <div class="form-group col-md-3">
      <div class="input-group">
        <input ngbDatepicker id="dob" #dateofbirth="ngbDatepicker" formControlName="dob" class="form-control"
          placeholder="DOB (yyyy-mm-dd)">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dateofbirth.toggle()" type="button">
            <mat-icon>calendar_today</mat-icon>
          </button>
        </div>
        <div *ngIf="dob.touched && dob.invalid" class="alert alert-danger">
          <div *ngIf="dob.errors.required">Date of Birth is required</div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-3">
    </div>
  </div>

  <div class="form-row justify-content-center">
    <div class="form-group col-md-3">
      <input formControlName="password" type="password" class="form-control" id="password" placeholder="password">
      <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Length of a password should be 8</div>
      </div>
    </div>
    <div class="form-group col-md-3">
      <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="re-enter password">
      <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
        <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
      </div>
    </div>

  </div>
  <div class="form-row justify-content-center">
    <div *ngIf="confirmPassword.touched && password.touched && form.errors?.passwordMismatch" class="alert alert-danger col-md-6">
      <div>Password is not matching</div>
    </div>
  </div>

  <div class="form-row justify-content-center">
    <div class="form-group col-md-3">
      <button [disabled]="form.invalid" type="submit" class="btn btn-success btn-block">Sign in</button>
    </div>
    <div class="form-group col-md-3">
      <button type="reset" class="btn btn-secondary btn-block">Reset</button>
    </div>
  </div>
  <div *ngIf="form.errors?.errorSaving" class="alert alert-danger">
    <div>Error during registration. Please try again later</div>
  </div>
</form>
