<form #signupForm="ngForm" (ngSubmit)="signin(signupForm.value)">
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
          <img src="https://picsum.photos/550/250" alt="">
        </div>
      </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-md-3">
      <input #fname="ngModel" [(ngModel)]="firstname" name="firstname" type="text" class="form-control" id="firstname" placeholder="first name">
    </div>
    <div class="form-group col-md-3">
      <input #lname="ngModel" [(ngModel)]="lastname" name="lastname" type="text" class="form-control" id="lastname"  placeholder="last name">
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-md-2">
      <input #mail="ngModel" [(ngModel)]="email" name="email" type="email" class="form-control" id="email" placeholder="email address">
    </div>
    <div class="form-group col-md-4">
      <input #phonenum="ngModel" [(ngModel)]="phone" name="phone" type="email" class="form-control" id="phone" placeholder="10-digit phone number">
    </div>
  </div>
  <div class="form-row  justify-content-center">
    <div class="form-group col-md-3">
      <div class="input-group">
        <input [(ngModel)]="dob" ngbDatepicker id="dob" #dateofbirth="ngbDatepicker" name="dob" class="form-control" placeholder="DOB (yyyy-mm-dd)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dateofbirth.toggle()" type="button">
            <mat-icon>calendar_today</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-3">
    </div>
  </div>

  <div class="form-row justify-content-center">
    <div class="form-group col-md-3">
      <input #pwd="ngModel" [(ngModel)]="password" name="password" type="password" class="form-control" id="password" placeholder="password">
    </div>
    <div class="form-group col-md-3">
      <input type="password" class="form-control" id="repassword" placeholder="re-enter password">
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-md-3">
      <button type="submit" class="btn btn-success btn-block">Sign in</button>
    </div>
    <div class="form-group col-md-3">
      <button type="reset" class="btn btn-secondary btn-block">Reset</button>
    </div>
  </div>
</form>