<div class="container blogs">
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="/assets/user.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Nandhakumar</h2>
      <p>WOW Organization is great in supporting customers. WOW members are doing wonderful jobs. Manu thanks to a awesome organization!</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="/assets/user.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Kishore Kumar</h2>
      <p>Organizations like WOW are doing wonderful jobs helping women in this society. I really appreciate their work and congrats to the team, continue the great job.</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="/assets/user.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Dinakar</h2>
      <p>I bought accessories here for my family and they loved.
        Many thanks to WOW.
      </p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>