<div class="container">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Ben <span class="text-muted">- Sales Exucutive</span></h2>
      <p class="lead">To be part of WOW is my previlege. I am Ben and I work as sales executive in WOW organozation. WOW just not helped me earn money but build courage to face the reality of life!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block rounded-circle" src="/assets/user.png" width="200"
        height="200">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-5">
      <h2 class="featurette-heading">Stokes <span class="text-muted">- Employee Rep</span></h2>
      <p class="lead">My name is Stokes, I work in Employee Service department of WOW. I have got lot of friends here in WOW, I would rather call them my family. Thanks to WOW and all my frinds for making life wonderful!</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block rounded-circle" src="/assets/user.png" width="200"
        height="200">
    </div>
  </div>

  <hr class="featurette-divider"> 

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Tom <span class="text-muted">- Employee</span></h2>
      <p class="lead">Great Organization. Here we make good quality products, customer satisfaction is our foremost goal.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block rounded-circle" src="/assets/user.png" width="200"
        height="200">
    </div>
  </div>

  <hr class="featurette-divider">

</div>