<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 d-none d-md-block sidebar">
      <div class="sidebar-sticky text-center pt-4">
        <img class="rounded-circle" src="/assets/user.png" alt="User image" width="140" height="140">
        <h2>Nandhakumar</h2>
        <ul class="nav flex-column pt-4">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Personal Details
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-8 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Personal Details</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <mat-icon>email</mat-icon>kumarvvp7@gmail.com
          <a class="float-right"><mat-icon>edit</mat-icon></a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <mat-icon>phone</mat-icon>9589897874
          <a class="float-right"><mat-icon>edit</mat-icon></a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <mat-icon>location_on</mat-icon>ksjdbib, aksjbdfui gasvd, asijdbiaushfd
          <a class="float-right"><mat-icon>edit</mat-icon></a>
        </div>
      </div>
    </main>
  </div>
</div>
